<span *ngIf="date">
    <div class="row center">
        <button (click)="refreshTime()" class="btn btn-info btn-lg">Reset</button>
    </div>
    <div class="card" >
        <div class="clock" #digiClock>
            {{date | date:dateFormat}}
        </div>
    </div>
    <div class="row center">
        <button (click)="updateTime(1)" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-circle-arrow-up"></span></button> &nbsp;
        <button (click)="updateTime(-1)" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-circle-arrow-down"></span></button> &nbsp;
        <button (click)="syncTime()" class="btn btn-info btn-lg ml-20"><span class="glyphicon glyphicon-cloud-upload"></span></button>
    </div>
</span>
